Debug/SSDO.exe
Debug/RSM.exe
GUIFramework/Debug
SDK/Include/*.h
SDK/Include/*.inl
SDK/Lib/Debug/*.lib
SDK/Lib/Release/*.lib
*.ilk
*.pdb
*.obj
*.tlog
*.log
*.lastbuildstate
*.pch
*.idb
*.user
*.sdf
*.suo
*.ipch
*.xccheckout

*.xcuserstate

*.a
*.unsuccessfulbuild

RTGI.xcworkspace/xcuserdata/ches.xcuserdatad/UserInterfaceState.xcuserstate
*.exe
*.opensdf
*.metagen
*.dll
*.cache
Release/RSM.exe
Release/RSM.exe
